---
---

#impactTable {
    table-layout: fixed;
    width: 100%;
    font-size: 14px; /* Adjust as needed */
  }
  
  #impactTable th,
  #impactTable td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 5px 2px; /* Minimal padding */
  }
  
  #impactTable th {
    background-color: #b8d8ff; /* Darker blue for the header */
    cursor: pointer;
    position: relative;
    padding-right: 20px; /* Make room for the arrow */
  }
  
  #impactTable th::after {
    content: '\25B4'; /* Up arrow */
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.5;
  }
  
  #impactTable th.sort-asc::after {
    content: '\25B4'; /* Up arrow */
    opacity: 1;
  }
  
  #impactTable th.sort-desc::after {
    content: '\25BE'; /* Down arrow */
    opacity: 1;
  }
  
  #impactTable tbody tr:nth-child(even) {
    background-color: #e6f3ff; /* Light blue shade for even rows */
  }
  
  #impactTable tbody tr:nth-child(odd) {
    background-color: #f0f8ff; /* Slightly lighter blue shade for odd rows */
  }
  
  #impactTable tbody tr:hover {
    background-color: #d4e9ff; /* Darker shade of blue for hover effect */
  }
  
  /* Rank column */
  #impactTable th:nth-child(1),
  #impactTable td:nth-child(1) {
    width: 28px;
    max-width: 28px;
    min-width: 28px;
    text-align: center;
  }
  
  /* Name column */
  #impactTable th:nth-child(2),
  #impactTable td:nth-child(2) {
    width: 100px;
  }
  
  /* Lives column */
  #impactTable th:nth-child(3),
  #impactTable td:nth-child(3) {
    width: 40px;
  }
  
  /* Donated column */
  #impactTable th:nth-child(4),
  #impactTable td:nth-child(4) {
    width: 40px;
  }
  
  /* Cost/life column */
  #impactTable th:nth-child(5),
  #impactTable td:nth-child(5) {
    width: 40px;
  }
  
  /* Net Worth column */
  #impactTable th:nth-child(6),
  #impactTable td:nth-child(6) {
    width: 40px;
  }