---
layout: default
---

{% assign person = site.data.people | where: "name", page.title | first %}

<h1>{{ person.name }}</h1>

<table>
  <tr>
    <th>Rank</th>
    <td>{{ person.rank }}</td>
  </tr>
  <tr>
    <th>Lives Saved</th>
    <td>{{ person.impact }}</td>
  </tr>
  <tr>
    <th>Donated</th>
    <td>{{ person.donated }}</td>
  </tr>
  <tr>
    <th>Cost per Life</th>
    <td id="costPerLife"></td>
  </tr>
  <tr>
    <th>Net Worth</th>
    <td>{{ person.netWorth }}</td>
  </tr>
</table>

<script>
document.addEventListener('DOMContentLoaded', function() {
  function parseDollarAmount(value) {
    const numericValue = parseFloat(value.replace(/[$,]/g, ""));
    if (value.includes('B')) {
      return numericValue * 1e9;
    } else if (value.includes('M')) {
      return numericValue * 1e6;
    } else if (value.includes('K')) {
      return numericValue * 1e3;
    }
    return numericValue;
  }

  const impact = parseDollarAmount("{{ person.impact }}");
  const donated = parseDollarAmount("{{ person.donated }}");
  const costPerLife = Math.round(donated / impact);

  document.getElementById('costPerLife').textContent = `$${costPerLife.toLocaleString()}`;
});
</script>
